# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other Compiled files
*.exp
*.ilk
*.pdb
*.tlog
*.log
*.lastbuildstate
*.idb
*.DS_Store
*.suo
*.vc.db
/BlockEngine.VC.VC.opendb
/Debug
/Release
/.vs
